.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34b6ff;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 4px  black;
}