.app-create-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entrada-dado{
    display: flex;
    justify-content: center;
    align-items: center;
}